
{% extends "base.html" %}


{% block content %}
<h3 style="margin-top: 100px;">Select all the symptoms you are having</h3>
<div class="symptoms" style="height: 500px;width:100%;margin-left: 90px;margin-top:60px;margin-right: 90px;">

    
    <form id="form1" action="" method="POST">
    
        {% csrf_token %}
       <ul class="chk" style="width:100%";>
        {% for lable in lables %}
    
       <li style="display: inline-block;width: 20%;margin: 2px;"><input type="checkbox" id="cbs" name="chk_dis[]"  value="{{lable}}"/>{{lable}}</li>
       
    
      {% endfor %}
      <br><input type="submit" value="submit" onclick="myFunction()">
    </uL>
    
    
    
    </form>
    </div>
    <script>
        function myFunction() {
          let text;
          data=JSON.parse("{{data|safe}}");
          alert("predicted disease value is : "+data);
          
        }
        </script>
        
{% endblock %}